/*-------------------------- Base --------------------------*/
html { font-size: 62.5%; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

a:link, a:visited, a:hover, a:active { text-decoration: none; color: #000; }

body { font-family: "YuGothic", sans-serif; padding: 0; margin: 0; background-color: #fcfcfc; }

/*-------------------------- Layout --------------------------*/
.header { background-color: #fff; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #555; border-bottom: #dadada; -webkit-box-shadow: 0px 1px 1px #e5e5e5; box-shadow: 0px 1px 1px #e5e5e5; font-size: 1.2rem; }

.main { width: 80%; margin: 0 auto; }

@media (max-width: 720px) { .main { width: 95%; } }

/*-------------------------- Module --------------------------*/
.main-block { margin-top: 40px; margin-bottom: 40px; }

.title { padding: 10px 20px; margin: 0; }

.form { border-radius: 10px; border: 4px groove #fafafa; font-size: 1.4rem; padding: 40px 20px; }

.input { width: 80px; height: 20px; margin: 0 5px; }

.bold { font-weight: bold; }

.add-btn { -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2); width: 100px; height: 40px; border-radius: 20px; -webkit-transition: all 0.15s; transition: all 0.15s; cursor: pointer; }

.add-btn:hover { -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 12px 0 rgba(0, 0, 0, 0.12); box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 12px 0 rgba(0, 0, 0, 0.12); }

.table-heading { height: 40px; width: 20%; font-size: 1.6rem; background-color: #52c2d0; color: #fff; }

.table-data { text-align: center; height: 30px; font-size: 1.2rem; }

.table-record { background-color: #fff; }

.table-record:nth-child(2n) { background-color: #fafafa; }

.record-table { border-collapse: collapse; width: 100%; color: #6c653d; border: 2px solid #ccc; }

/*-------------------------- State --------------------------*/
/*-------------------------- Theme --------------------------*/
