<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/common.css">
    <title>BMI計算</title>
</head>

<body>

    <header class="header">
        <h1 class="title">Body Mass Index</h1>
    </header>
    <main id="app" class="main">
        <section class="flexbox">
            <form class="form main-block centering-inside" @submit.prevent>
                <div class="main-block">
                    <p class="mini-block"><label>身長<input class="input" required pattern="^[0-9A-Za-z]+$"
                                v-model="newHeight">cm</label></p>
                    <p class="mini-block"><label>体重<input class="input" required pattern="^[0-9A-Za-z]+$"
                                v-model="newWeight">kg</label></p>
                </div>
                <div class="centering-inside mini-block"><button class="add-btn" @click="addItem"
                        type="submit">記録する</button>
                </div>
            </form>
            <section class="result-wrap main-block">
                <h1 class="heading result-heading">Your BMI</h1>
                <table class="result-table table mini-block">
                    <tr>
                        <th v-for="resultHeader in resultHeaders" class="table-header result-header">{{ resultHeader }}
                        </th>
                    </tr>
                    <tr class="table-record">
                        <td class="table-data result-data">{{ newHeight }}cm</td>
                        <td class="table-data result-data">{{ newWeight }}kg</td>
                        <td class="table-data result-data"><span v-if="calcBmi">{{ calcBmi }}</span></td>
                        <td class="table-data result-data">{{ calcDiff }}kg</td>
                </table>
            </section>
        </section>
        <section class="record-wrap main-block">
            <h1 class="heading record-heading">Your Records</h1>
            <table class="record-table table mini-block">
                <tr>
                    <th v-for="recordsHeader in recordsHeaders" class="table-header record-header">{{ recordsHeader }}
                    </th>
                </tr>
                <tr class="table-record" v-for="record in records">
                    <td class="table-data record-data">{{ record.date }}</td>
                    <td class="table-data record-data">{{ record.height }}</td>
                    <td class="table-data record-data">{{ record.weight }}</td>
                    <td class="table-data record-data">{{ record.bmi }}</td>
                    <td class="table-data record-data">{{ record.diff }}</td>
                </tr>
            </table>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                newHeight: '',
                newWeight: '',
                resultHeaders: ['身長', '体重', 'BMI', '適正体重との差'],
                recordsHeaders: ['日付', '身長', '体重', 'BMI', '適正体重との差'],
                records: []
            },
            computed: {
                calcBmi: function () {
                    var calcHeight = this.newHeight / 100;
                    var bmi = Math.floor(this.newWeight / (calcHeight * calcHeight) * 10) / 10;
                    return bmi;
                },
                calcDiff: function () {
                    var diff = Math.floor((this.newWeight - ((this.newHeight / 100) * (this.newHeight / 100) * 22)) * 10) / 10;
                    if (diff > 0) {
                        diff = '+' + diff;
                    }
                    return diff;
                }
            },
            methods: {
                addItem: function () {
                    // 現在の日付を取得
                    var date = new Date();
                    var year = date.getFullYear();
                    var month = date.getMonth() + 1;
                    var day = date.getDate();

                    // プロパティと値をセット
                    var record = {
                        date: year + "/" + month + "/" + day,
                        height: this.newHeight + 'cm',
                        weight: this.newWeight + 'kg',
                        bmi: this.calcBmi,
                        diff: this.calcDiff + 'kg'
                    };

                    // recordオブジェクトをrecords配列に格納
                    this.records.push(record);
                }
            }
        })
    </script>
</body>

</html>