<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <title>BMI計算アプリ</title>
</head>

<body>
    <h1>BMI計算アプリ</h1>
    <section>
        <div id="app">
            <h2>入力したデータをリアクティブに表示する</h2>
            <form>
                <label>身長：<input type="text" v-model="height">cm</label>
                <label>体重：<input type="text" v-model="weight">kg</label>
            </form>
            <table>
                <tr>
                    <th>身長</th>
                    <th>体重</th>
                </tr>
                <tr>
                    <td>{{ $data.height }}cm</td>
                    <td>{{ $data.weight }}kg</td>
            </table>
            <button v-on:click="recordItem">
                記録する
            </button>
        </div>
    </section>
    <section>
        <div id="app">
            <h2>入力中にもリアクティブに計算する</h2>
            <form>
                <label>身長：<input type="text" v-bind="height">cm</label>
                <label>体重：<input type="text" v-bind="weight">kg</label>
            </form>
            <table>
                <tr>
                    <th>身長</th>
                    <th>体重</th>
                    <th>BMI</th>
                    <th>適正体重との差</th>
                </tr>
                <tr>
                    <td>{{ $data.height }}cm</td>
                    <td>{{ $data.weight }}kg</td>
                    <td> {{ $data.bmi }} </td>
                    <td> {{ $data.difference }}kg</td>
            </table>
        </div>
    </section>
    <section>
        <h2>計算結果に応じて色を変える</h2>
    </section>
    <section>
        <h2>計算結果を日付とともに保存する</h2>
    </section>
    <section>
        <h2>計算結果を削除するボタンを設置する</h2>
    </section>
    <section>
        <h2>UIを改善してみた</h2>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        // Vue.component('info-indicator', {
        //     template: 
        // })
        var app = new Vue({
            el: '#app',
            data: {
                height: '',
                weight: '',
                bmi: ''
            },
            computed: {
                bmi * bmi
            },
            methods: {

            }
        })
    </script>
</body>

</html>